/* Copyright 2026 Caroline Blank <caro@c-space.org> */
/* SPDX-License-Identifier: CC-BY-NC-SA-4.0 */

.tdoc-exec-output.tdoc-sectioned:has(svg.pnm) {
    background-color: var(--pst-color-surface);
}
svg.pnm {
    margin: 0 auto;
}
